<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav flex-row">
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="{% url 'p1' %}">Пункт 1</a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-warning" href="{% url 'p2' %}">Пункт 2</a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="{% url 'p3' %}">Пункт 3</a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-warning" href="{% url 'p4' %}">Пункт 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="{% url 'dzn1' %}">Новости</a>
            </li>
        </ul>
    </div>
</nav>